{% extends "./homepage.html" %}
{% load static %}
{% block title %}
  <title>Fórum</title>
{% endblock %}

{% block estilo %}
    <style>
        .divisao {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .mensagens-container {
            max-height: 500px;
            overflow-y: auto;
            padding-right: 10px;
        }

        .mensagem_utilizador{
            gap: 10px;
            display: flex;
            font-size: 1.3rem;
        }

        .message_text{
            flex-grow: 1;
            overflow-wrap: anywhere; /*W3SCHOOLS*/
        }

        .button{
            border: 0;
            width: 30px;
            height: 30px;
            object-fit: cover;
            background-color: transparent;
        }

        .buttons_group{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .like{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block navbar %}
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'caderneta:homepage' %}" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="{% url 'caderneta:loja' %}" class="nav-link px-2 link-secondary">Loja</a></li>
        <li><a href="{% url 'caderneta:forum' %}" class="nav-link px-2 link-dark">Forum</a></li>
        {% if not request.user.is_superuser %}
            <li><a href="{% url 'caderneta:caderneta' %}" class="nav-link px-2 link-secondary">Caderneta</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block corpo %}
    {% if not request.user.is_superuser %}
        <div class="container divisao block_mensagem">
            <form method="post" action="{% url 'caderneta:criar_mensagem' %}">
            {% csrf_token %}
                <div class="mb-3">
                    <label for="mensagem_texto" class="form-label">Mensagem:</label>
                    <textarea class="form-control" id="mensagem_texto" name="mensagem_texto" rows="3" maxlength="300" required></textarea>
                    <p id="charCount" class="form-text text-muted">0/300 caracteres</p>
                </div>
                <button id="submitButton" type="submit" class="btn btn-primary">Publicar</button>
            </form>
        </div>
    {% endif %}

    <div class="container divisao my-3 p-3 bg-body rounded shadow-sm">
        {% if mensagem_list %}
            <div class="mensagens-container">
                {% for mensagem in mensagem_list %}
                    <div class="mensagem_utilizador d-flex text-body-secondary">
                        <div class="message_image">
                            <img src="{% url 'caderneta:foto_msg' mensagem.id %}" alt="profile_pic" width="60" height="60" class="perfil-img">
                        </div>
                        <div class="message_text">
                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">{{ mensagem.user.user.username }}  <span style="font-size: 0.7rem; font-weight: lighter;">{{ mensagem.pub_data }}</span></strong>
                                <span class="message_content">{{ mensagem.mensagem_texto }}</span>
                            </p>
                        </div>
                        <div class="buttons_group">
                            <div class="like">
                                <form method="post" action="{% url 'caderneta:like_mensagem' mensagem.id %}">
                                    {% csrf_token %}
                                    {% if mensagem in mensagem_like %}
                                        <button class="button like-button"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                        </svg></button>
                                    {% else %}
                                        <button class="button like-button"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                        </svg></button>
                                    {% endif %}
                                </form>
                                <p class="like_number">{{ mensagem.n_likes }}</p>
                            </div>
                            {% if request.user.is_superuser %}
                                <form method="post" action="{% url 'caderneta:delete_mensagem' mensagem.id %}">
                                    {% csrf_token %}
                                    <button class="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/></svg></button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p style="font-weight: bold; text-align: center;">Não há mensagens disponíveis.</p>
        {% endif %}
    </div>
    <script>
        const mensagemTextarea = document.getElementById('mensagem_texto');
        const charCountElement = document.getElementById('charCount');

        const likedMessage = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/> </svg>';
        const unlikedMessage = '<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"> <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/> </svg>';

        mensagemTextarea.addEventListener('input', () => {
            const currentLength = mensagemTextarea.value.length;
            charCountElement.textContent = `${currentLength}/300 caracteres`;
        });
    </script>
{% endblock %}